body /* Fond, taille et police sur le body */
{
	background: #D9D5D4
    none repeat scroll 0% 0%;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

img /* affichage image */
{
	display: block;
	width: 100%;
    height: auto;
	margin: 0px;
}

td.grey /* couleur gris sur td */
{
	background-color: #EEEEEF;
}

td.light_grey /* couleur gris claire sur td */
{
	background-color: #F5F5F6;
}

.block /* Affichage div's taile, centré ect */
{
    position: relative;
    margin: auto 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
}

.bleu /* couleur du block */
{
    background-color: #EAF1F8;
}

.my-block /* position du block */
{  
	display:inline-block; 
}

a, a:visited /* couleur, taille liens visité */
{
    color: #000;
    font-size: 23px;
    text-decoration: none;
}

a:hover  decoration liens survolé */
{
    text-decoration: underline;
}