body 
{
	background: #FFF 
    none repeat scroll 0% 0%;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

img {
	display: block;
	width: 100%;
    height: auto;
	margin: 0px;
}

td.grey 
{
	background-color: #EEEEEF;
}

td.light_grey 
{
	background-color: #F5F5F6;
}

.block {
    position: relative;
    margin: auto 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
}

.bleu 
{
    background-color: #EAF1F8;
}
.my-block
{  
	display:inline-block; 
}

a, a:visited {
    color: #000;
    font-size: 23px;
    text-decoration: none;
}
a:hover 
{
    text-decoration: underline;
}